# General
.DS_Store
.AppleDouble
.LSOverride
Icon

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~
.history/

# Environments
venv/
.venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules/

# Logs
*.log

# Secrets
.env
*.pem
